* {
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: #141414;
    width: 97%;
}

main {
    margin: auto;
    width: 100%;
}

.title-game {
    color: rgb(255, 0, 0);
    text-align: center;
    width: 100%;
    font-size: auto;
}

.description-secret-number {
    text-align: center;
    color: yellow;
    font-size: 22px;
}

.secret-number-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border: solid 3px yellow;
    width: 100px;
    border-radius: 15px;
    color: yellow;
    background-color: rgb(24, 23, 23);
    box-shadow: 0px 0px 5px 3px black;
}

.secret-number {
    font-size: 80px;
    font-weight: bold;
    margin: 10px;
}

.game-choices-box {
    display: block;
}

.game-change-box {
    border: solid 4px black;
    width: 100%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px 0px;
    background-color: rgb(24, 23, 23);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 3px black, 
    inset 2px 2px 5px 0px seashell;
}

.computer-choice {
    color: seashell;
    font-size: 25px;
    text-align: center;
    margin: 10px auto
}

.range-value {
    font-size: 40px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: azure;
    box-shadow: 0px 0px 6px 1px black;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    margin: 25px auto;
}

.choice-value-range {
    width: 90%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: seashell;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: solid 2px black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: solid 1px white;
    border-radius: 50%;
    background: #f3e302;
    box-shadow: 0px 0px 1px 3px black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}


.result-box {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: seashell;
}

.results {
    display: flex;
    max-width: 97%;
    align-items: center;
    justify-content: space-evenly;
}

.computer-point, .player-point {
    display: flex;
    max-width: 50%;
    align-items: center;
    background-color: white;
    border: solid 4px black;
    border-radius: 20px;
    height: 100px;
    width: 45%;
    justify-content: space-evenly;
}

.computer-point h3 {
    color: black;
}

.player-point h3 {
    color: black
}

.point {
    margin: 7px;
    font-size: 40px;
    border: solid 2px black;
    padding: 4px;
}



.play-game-box {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.play-game {
    font-size: 25px;
    border: solid 2px;
    border-radius: 15px;
    position: relative;
    bottom: 5px;
    right: 5px;
    box-shadow: 5px 5px 3px 1px black;
    padding: 15px;
}

.play-game:hover {
    cursor: pointer;
    border: solid 2px white;
    background-color: #141414;
    color: seashell;
    box-shadow: 5px 5px 3px 1px black;
}

.play-game:active {
    position: relative;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 0px 0px 0px;
}

.reload {
    display: none;
}